<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @equipment.Description %>
</p>

<p>
  <strong>Equipmentid:</strong>
  <%= @equipment.EquipmentID %>
</p>

<p>
  <strong>Make:</strong>
  <%= @equipment.Make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @equipment.Model %>
</p>

<p>
  <strong>Medical:</strong>
  <%= @equipment.Medical %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
